

body {
  background: url("../assets/pattern.jpg") no-repeat center fixed;
  color: white;
  font-family: "Acme", sans-serif;
}

.fixed-bottom {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.705);
  color: rgb(0, 161, 161);
  text-align: center;
  height: 3%;
  
}

.card {
  margin-bottom: 5%;
  height: 500px;
  width: 700px;
  
}

.content-header {
  margin: 50px;
  color: rgb(237, 237, 237);
  text-align: center;
  height: 500px;
  width: 700px;
}

